// Descriptive Colors
$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;


// theme.scss
@import '~@angular/material/theming';
$my-theme-primary: mat-palette($mat-green);
$my-theme-accent : mat-palette($mat-amber);
$my-theme-warn   : mat-palette($mat-red);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);


// Functional Colors
$primary--color: $blue;
$secondary--color: $white;
