<div class="app-logo">
  <img class="app-logo" alt="logo" src="assets/images/logo.svg"/>
</div>
<app-side-profile></app-side-profile>
<mat-nav-list>
    <!-- AUTOMATICE MENU from routes and module configs
  Real Time Site configuration
  -->
  <a mat-list-item routerLink="/products" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Products</span>
  </a>
  <a mat-list-item routerLink="/heroes" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Heroes</span>
  </a>

  <!--
  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu>
  -->
</mat-nav-list>
