<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80">
    <h1 class="header__title">{{'topHeroes' | translate}}</h1>
    <app-loading *ngIf="!heroes"></app-loading>
    <div id="heroes-list" *ngIf="heroes" [@fadeInOut]>
      <ng-container *ngFor="let hero of heroes">
        <app-hero-card [hero]="hero"></app-hero-card>
      </ng-container>
    </div>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
