<div class="nav-item nav-profile">
  <div class="nav-link">
    <div class="user-wrapper">
      <div class="profile-image">
        <img src="assets/images/faces/face1.jpg" alt="profile image">
      </div>
      <div class="text-wrapper">
        <p class="profile-name">Richard V.Welsh</p>
        <div>
          <small class="designation text-muted">Manager</small>
          <span class="status-indicator online"></span>
        </div>
      </div>
    </div>
    <!-- <button class="btn btn-success btn-block">New Project<i class="mdi mdi-plus"></i></button> -->
  </div>
</div>
