app-search-bar .mat-form-field-wrapper {
  padding: 0px;
}
app-search-bar .mat-form-field {
  font-size: 100;
  line-height: initial;
}

app-search-bar span.mat-form-field-label-wrapper {
  top: 1em !important;
  padding-top: 0px;
}
