.product-form {
  display: block;
  margin: 4px 10px;
}
.product-form .mat-form-field {
  display: block;
}

.product-form .img-product.preview{
  max-width: 50%;
  max-height: 250px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

button[hidden] {
  display: none;
}
