
<form [formGroup]="productForm"  (ngSubmit)="submit()"
      ngxScrollToFirstInvalid autocomplete="on" class="product-form" novalidate>

  <div class="form-error" *ngIf="_error">{{_error | translate}}</div>

  <mat-form-field class="input-container">
    <input matInput name="name" type="text"
            placeholder="Product Name"
            formControlName="name"
            [readonly]="readOnly"
            />
    <validation-errors [control]='productForm.controls["name"]' [name]="'name'"></validation-errors>
  </mat-form-field>

  <mat-form-field class="input-container">
    <input matInput type="number" name="price"
            placeholder="Price"
            formControlName="price"
            [readonly]="readOnly"
            />
    <validation-errors [control]='productForm.controls["price"]' [name]="'price'"></validation-errors>
  </mat-form-field>

  <div matFormField class="input-container">
    <textarea matInput type="text" name="description"
      placeholder="Description"
      formControlName="description"
      [readonly]="readOnly"
      >{{product.description}}</textarea>
      <validation-errors [control]='productForm.controls["description"]' [name]="'description'"></validation-errors>
  </div>

  <div matFormField class="input-container text--center">
    <img #imgPreview class="img-product preview" [src]="product.imageUrl" *ngIf="product.imageUrl" />
    <input #imageInput
        name="image"
        type="file"
        accept="image/*"
        [hidden]="readOnly"
        (change)="processFile(imageInput)" />

  </div>

<p>
    Form Value: {{ productForm.value | json }}
</p>
<p>
    Form Errors: {{ productForm.errors | json }}
</p>


  <div class="form-actions btns">

    <button mat-flat-button	 type="button" [hidden]="readOnly" (tap)="changeMode('view')" color="warn">
      Cancel
    </button>
    <button mat-stroked-button type="button" [hidden]="!readOnly" (tap)="changeMode('edit')" color="warn">
      Edit
    </button>



    <button mat-raised-button type="submit" [hidden]="readOnly" (tap)="submit()" color="primary" [disabled]="!productForm.valid">
      Save
    </button>

    <button mat-button type="button" [hidden]="(readOnly && !product.id)" (tap)="delete()" color="warning" class="pull-left" >
      <mat-icon>delete</mat-icon>
    </button>

  </div>

</form>
