
<form [formGroup]="productForm"  (ngSubmit)="submit()"
      ngxScrollToFirstInvalid autocomplete="on" class="product-form" >

  <div class="form-error" *ngIf="_error">{{_error | translate}}</div>
  <div class="form-msg" *ngIf="_mode">{{ _mode }}</div>

  <mat-form-field class="input-container">
    <input matInput name="name" type="text"
            placeholder="Product Name"
            formControlName="name"
            [readonly]="readOnly"
            />
  </mat-form-field>

  <mat-form-field class="input-container">
    <input matInput type="number" name="price"
            placeholder="Price"
            formControlName="price"
            [readonly]="readOnly"
            />
  </mat-form-field>

  <div matFormField class="input-container">
    <textarea matInput type="text" name="description"
      placeholder="Description"
      formControlName="description"
      [readonly]="readOnly"
      >{{product.description}}</textarea>
  </div>

  <div matFormField class="input-container">
    <input #imageInput
        name="image"
        type="file"
        accept="image/*"
        [hidden]="readOnly"
        (change)="processFile(imageInput)" />

    <img #imgPreview class="img-product preview" [src]="_imgUrl" *ngIf="_imgUrl" />
  </div>

  <div class="form-actions btns">

    <button mat-flat-button	 type="button" [hidden]="readOnly" (tab)="changeMode('view')" color="warn">
      Cancel
    </button>
    <button mat-stroked-button type="button" [hidden]="!readOnly" (tap)="changeMode('edit')" color="warn">
      Edit
    </button>

    <button mat-raised-button type="submit" [hidden]="readOnly" (tap)="submit()" color="primary">
      Save
    </button>

  </div>

</form>
