<mat-toolbar color="primary">
  <div >
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>

  <div>
      <a routerLink="/">{{pageTitle}}</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>

  </div>
</mat-toolbar>
<section class="progress-bar">
  <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
  </mat-progress-bar>
</section>
